.DS_Store
.dart_tool/
.packages
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
pubspec.lock
flutter_auth_buttons.iml
android/
example/ios/Flutter/flutter_export_environment.sh
